<template>
  <v-container>
    <v-form v-model="validForm">
      <v-row>
        <v-col>
          <v-text-field label="Title" v-model="hashMap.title" outlined dense :rules="titleRules" />
        </v-col>
      </v-row>
    </v-form>
  </v-container>
</template>

<script>
export default
{
  name: 'HashMapForm',

  props: ['value'],

  data() {
    return {
      titleRules: [
        v => !!v || 'Title is required'
      ],

      validForm: false,
      hashMap: this.value,
    }
  },

  watch:
  {
    validForm(val) {
      this.$emit('isValid', val);
    },

    value(val) {
      this.hashMap = val;
    },

    hashMap(val) {
      this.$emit('input', val);
    }
  },
};
</script>

