<template>
  <v-card>
    <v-card-title>{{ hashMap.title }}</v-card-title>

    <v-card-actions>
      <v-spacer></v-spacer>

      <v-btn @click="remove" color="red" outlined :loading="loading">
        Delete
      </v-btn>

      <v-btn color="blue" class="white--text" @click="$router.push('/dashboard/' + hashMap.id)" :disabled="loading">
        Details
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default
{
  name: 'HashMapCard',

  props: ['value'],

  data() {
    return {
      hashMap: this.value,
      loading: false
    }
  },

  watch:
  {
    value(val) {
      this.hashMap = val;
    },

    hashMap(val) {
      this.$emit('input', val);
    }
  },

  methods:
  {
    remove()
    {
      if(!confirm("Are you sure to delete " + this.hashMap.title + "?")) {
        return;
      }

      this.loading = true;

      this.$axios.$delete('/hash-maps/'+ this.hashMap.id)
        .then(() => this.$emit('hashMapRemoved', this.hashMap.id))
        .catch(e => this.$nuxt.error(e))
        .finally(() => this.loading = false)
    }
  }
};
</script>
