<template>
  <v-row dense>
    <v-col cols="4">
      <v-text-field label="Key" v-model="entry.key" outlined dense />
    </v-col>

    <v-col cols="6">
      <v-text-field label="Value" v-model="entry.value" outlined dense />
    </v-col>

    <v-col cols="1" align="end">
      <v-btn icon color="red" @click="$emit('remove')">
        <v-icon>mdi-delete</v-icon>
      </v-btn>
    </v-col>
  </v-row>
</template>

<script>
export default
{
  name: 'HashMapEntry',

  props: ['value'],

  data() {
    return {
      entry: this.value
    }
  },

  watch:
  {
    value(val) {
      this.entry = val;
    },

    entry(val) {
      this.$emit('input', val);
    }
  },
};
</script>
