<template>
  <v-card elevation="4">
    <v-container>
      <v-alert type="error" v-if="errorMessage !== ''">
        {{errorMessage}}
      </v-alert>

      <v-card-title>{{ title }}</v-card-title>

      <v-card-text>
        <v-form v-model="validForm">
          <v-text-field v-model="username" :rules="basicRules" outlined dense label="Username" />
          <password-field v-model="password" :rules="basicRules" label="Passowrd" />
        </v-form>
      </v-card-text>

      <v-card-actions>
        <v-btn @click="login" :disabled="!validForm" :loading="loading" block color="primary">{{buttonText}}</v-btn>
      </v-card-actions>
    </v-container>
  </v-card>
</template>

<script>
import PasswordField from './PasswordField';

export default
{
  components: {PasswordField},
  props:
    {
      title: {
        type: String,
        default: 'Login'
      },

      loginDetails: {
        type: Object,
        default: () => {}
      },

      buttonText: {
        type: String,
        default: 'Login'
      },
    },

  data()
  {
    return {
      username: this.loginDetails ? this.loginDetails.username : '',
      password: this.loginDetails ? this.loginDetails.password : '',

      loading: false,
      errorMessage: '',

      basicRules: [
        v => !!v || 'This field is required'
      ],

      show: false,

      validForm: false
    }
  },

  methods:
  {
    async login()
    {
      this.loading = true;
      this.errorMessage = '';

      try
      {
        const response = await this.$axios.$post('auth/login', { username: this.username, password: this.password });
        this.$emit('loggedIn', response);
      }
      catch (e)
      {
        if(e.response.status === 401)
        {
          this.$emit('errorLoggingIn', e);
          this.errorMessage = "Wrong credentials!"
        }
        else {
          this.$nuxt.error(e)
        }
      }
      finally {
        this.loading = false
      }
    }
  },
}
</script>
