<template>
  <v-dialog v-model="dialog" width="500" :persistent="loading">
    <v-card>
      <v-card-title>
        <span class="text-h5">New HashMap</span>
      </v-card-title>

      <v-card-text>
        <hash-map-form v-model="newHashMap" @isValid="validForm = $event" />
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="dialog = false" :disabled="loading">
          Close
        </v-btn>

        <v-btn color="blue darken-1" text @click="save" :loading="loading" :disabled="!validForm">
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import HashMapForm from './HashMapForm';

export default
{
  name: 'NewHashMapDialog',

  components: {
    HashMapForm
  },

  props: ['value'],

  data() {
    return {
      loading: false, validForm: false,
      dialog: this.value,
      newHashMap: {}
    }
  },

  watch:
  {
    value(val) {
      this.dialog = val;
    },

    dialog(val) {
      this.$emit('input', val);
    }
  },

  methods:
  {
    save()
    {
      this.loading = true;

      this.$axios.$post('/hash-maps', this.newHashMap)
        .then((res) => {
          this.$emit('hashMapCreated', res);
          this.newHashMap = {};
        })
        .catch(e => this.$nuxt.error(e))
        .finally(() => this.loading = this.dialog = false)
    }
  }
};
</script>
