<template>
  <v-text-field v-model="password" outlined	dense autocomplete="password" :label="label"
                :rules="rules"
                :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                @click:append="show = !show"
                :type="show ? 'text' : 'password'" />
</template>

<script>
export default
{
  name: 'PasswordField',

  props: ['value', 'rules', 'label'],

  data()
  {
    return {
      password: this.value || '',
      show: false
    }
  },

  watch:
  {
    value(val) {
      this.password = val || ''
    },

    password(val) {
      this.$emit('input', val);
    }
  }
};
</script>
