<template>
  <v-app>
    <v-app-bar :clipped-left="clipped" fixed app>
      <v-toolbar-title v-text="title" />
      <v-spacer />

      <v-menu offset-y transition="scale-transition" v-if="user">
        <template v-slot:activator="{ on }">
          <span id="name" v-on="on">{{ user.username }}</span>
        </template>

        <v-list>
          <span class="overline ml-3 mb-2">Welcome!</span>

          <v-list-item @click="logout">
            <v-list-item-action>
              <v-icon>mdi-exit-to-app</v-icon>
            </v-list-item-action>

            <v-list-item-content>
              <v-list-item-title>Logout</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-menu>

    </v-app-bar>

    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>

    <v-footer :absolute="!fixed" app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
export default
{
  data () {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'HashMaps as a Service'
    }
  },

  computed:
  {
    user() {
      return this.$store.state.user;
    }
  },

  methods:
  {
    async logout()
    {
      if(!confirm("Are you sure to logout?")) {
        return;
      }

      try
      {
        await this.$axios.$post('/auth/logout');

        this.$store.commit('setUser', null);
        this.$store.commit('setLoggedIn', false);
        this.$router.replace({ path: '/' })
      }
      catch (e)
      {
        this.$nuxt.error(e);
      }

    }
  }
}
</script>

<style scoped>
 #name {
   cursor: pointer;
 }
</style>
