<template>
  <v-container fluid>
    <v-row justify="center">
      <v-col cols="4">
        <v-alert class="white--text" color="success" v-if="$route.query.successSignup">
          Registered successfully
        </v-alert>
        <login-card @loggedIn="loginCallback($event)"></login-card>
        <small>Not registered? <nuxt-link to="/signUp">Sign up now</nuxt-link></small>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import LoginCard from '../components/LoginCard';

export default
{
  middleware: ['notAuth'],

  components: {
    LoginCard

  },

  methods:
  {
    loginCallback(response)
    {
      this.$store.commit('setUser', response.user);
      this.$store.commit('setLoggedIn', true);

      this.$router.replace({ path: '/dashboard' });
    }
  }
}
</script>
