<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="4">
        <v-card elevation="4">
          <v-card-title>Sign up</v-card-title>

          <v-container>
            <v-alert type="error" v-if="errorMessage !== ''">
              {{errorMessage}}
            </v-alert>

            <v-card-text>
              <v-form v-model="validForm">
                <v-text-field v-model="username" :rules="basicRules" outlined dense label="Username" />
                <password-field v-model="password" :rules="basicRules" label="Passowrd" />
                <password-field v-model="confirmPassword" :rules="passwordRules" label="Confirm Passowrd" />
              </v-form>
            </v-card-text>

            <v-card-actions>
              <v-btn @click="signUp" :disabled="!validForm" :loading="loading" block color="primary">
                Sign up
              </v-btn>
            </v-card-actions>
          </v-container>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import PasswordField from '../components/PasswordField';

export default
{
  components: {
    PasswordField
  },

  data()
  {
    return {
      loading: false, errorMessage: '', validForm: false,
      username: '', password: '', confirmPassword: '',
      basicRules: [
        v => !!v || 'This field is required'
      ],
      passwordRules: [
        v => !!v || 'This field is required',
        v => v === this.password || 'Passwords don\'t match'
      ],
    }
  },

  methods:
  {
    signUp()
    {
      this.loading = true;
      this.errorMessage = '';

      this.$axios.$post("/auth/signup", {
        "username": this.username,
        "password": this.password
      })
      .then(() => this.$router.replace("/?successSignup=true"))
      .catch(e => {
        if(e.response.status === 400) {
          this.errorMessage = "Username already exists!"
        }
        else {
          this.$nuxt.error(e)
        }
      })
      .finally(() => this.loading = false)
    }
  }
};
</script>
