<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12" align="center">
        <h1 class="d-inline-block">{{ hashMap.title }}</h1>

        <v-btn color="blue" class="white--text ml-4 mb-3" small :loading="saving" @click="save">
          Save
        </v-btn>

        <small v-if="message">
          ({{ message }})
        </small>
      </v-col>

      <v-col cols="12" align="center">
        <div v-if="hashMap.data.length === 0">
          No entry available!
        </div>
      </v-col>
    </v-row>

    <hash-map-entry
      v-for="(entry, i) in hashMap.data" :key="i"
      v-model="hashMap.data[i]"
      @remove="hashMap.data.splice(i, 1) "/>

    <v-row>
      <v-col align="center">
        <v-btn outlined color="green" @click="hashMap.data.push({ key: '', value: '' })">
          Add new entry
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import HashMapEntry from '../../components/HashMapEntry';

export default
{
  middleware: ['auth'],

  components: {
    HashMapEntry
  },

  async asyncData({ $axios, params })
  {
    const hashMap = await $axios.$get('/hash-maps/'+ params.id);

    return {
      hashMap
    }
  },

  data() {
    return {
      message: '',
      saving: false,
    }
  },

  methods:
  {
    save()
    {
      this.saving = true;

      this.$axios.$put('/hash-maps/'+ this.hashMap.id +'/data', this.hashMap.data)
        .then((res) => {
          this.$emit('hashMapCreated', res);
          this.message = "Data saved successfully";
        })
        .catch(e => this.$nuxt.error(e))
        .finally(() => this.saving = false)
    }
  }
};
</script>
