<template>
  <v-container>
    <v-row>
      <v-col cols="4" v-for="(hashMap, i) in hashMaps" :key="hashMap.id">
        <hash-map-card v-model="hashMaps[i]" @hashMapRemoved="hashMaps = hashMaps.filter(el => el.id !== $event)" />
      </v-col>

      <v-col cols="4" align="center">
        <v-card outlined @click="insertDialog = true">
          <v-card-text>
            <v-icon color="green" size="84">mdi-plus</v-icon>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <new-hash-map-dialog v-model="insertDialog" @hashMapCreated="hashMaps.push($event)" />
  </v-container>
</template>

<script>
import HashMapCard from '../../components/HashMapCard';
import NewHashMapDialog from '../../components/NewHashMapDialog';

export default
{
  middleware: ['auth'],

  components: {
    NewHashMapDialog,
    HashMapCard
  },

  async asyncData({ $axios })
  {
    const hashMaps = await $axios.$get('/hash-maps');

    return {
      hashMaps
    }
  },

  data() {
    return {
      insertDialog: false
    }
  }
};
</script>
